html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

form {
    border: 2px solid black;
    border-radius: 6px;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

form h1 {
    text-align: center;
    font-size: 60px;
}

input[type="text"] {
    font-size: 20px;
}

input[type="submit"] {
    font-size: 20px;
    padding: 0 180px 0 180px;
    border-radius: 4px;
    color: #000000;
    border-color: lightgray;
}

.first-name {
    font-size: 30px;
    padding-left: 30px;
    margin-top: 60px;
}

.last-name {
    font-size: 30px;
    padding-left: 30px;
    margin-top: 30px;
}

.email {
    font-size: 30px;
    padding-left: 60px;
    margin-top: 30px;
}

.submit {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 60px;

}